// reset css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

// fontawesome icon
@import "./fontawesome.scss";
@import "./solid.scss";
@import "./regular.scss";
@import "./brands.scss";

// general style
body {
  background-color: #142f43;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23FFAB4C' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FFAB4C'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

:root {
  font-size: 10px;
}

.mainContainer {
  overflow-x: hidden;
  max-width: 1024px;
  margin: 0 auto;
  // height: 100vh;
  // background-color: blue;
  padding: 0 20px;
}

// header
.headerContainer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.headerContainer-icon {
  font-size: 2.3rem;
  background-color: $primary-color-two;
  color: $primary-color-one;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

// nav
.navContainer-hidden {
  position: absolute;
  top: 10vh;
  right: 100%;
  border-radius: 25px;
  width: 70%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 75px;
  background-color: $primary-color-two;
  transition: 0.3s ease;
  z-index: 100;
}

.navContainer-visible {
  right: 20px;
}

.navItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
  position: relative;
  padding: 3px;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -3px;
    background-color: $primary-color-one;
    transition: width 0.2s ease;
  }

  &:hover .navItem-icon {
    transform: rotate(-90deg);
  }

  &:hover::after {
    width: 100%;
  }
}

.navItem-h2 {
  font-size: 3rem;
  font-family: $primary-font;
  color: $primary-color-one;
}

.navItem-icon {
  font-size: 1.5rem;
  color: $primary-color-one;
  line-height: 0;
  margin-left: 10px;
  transition: transform 0.2s ease;
}

// image de moi
.imgContainer {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: imgTransitionLoad 1s ease forwards;
}

.imgContainer-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("../../img/img-original-size.jpg");
  background-size: cover;
  background-position: center;
  border: 2px solid $primary-color-two;
}

// paragraph index

.indexParagraphContainer {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}

.indexParagraphContainer-p {
  @include paragraphContainerTemplate(1.8rem);
  text-align: center;
  transform: translateX(-100vw);
}

.indexParagraphContainer-btn {
  @include paragraphContainerTemplate(0);
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;

  h2 {
    font-family: $primary-font;
    font-size: 3rem;
  }

  &:hover {
    i {
      transform: rotate(-90deg);
    }
  }
}

// load animation
#item1 {
  animation: transitionLoad 0.8s ease forwards;
}

#item2 {
  animation: transitionLoad 0.8s ease 0.5s forwards;
}

#item3 {
  animation: transitionLoad 0.5s ease 1s forwards;
}
// end load animation

// open menu animation
#item1-out {
  transform: translateX(0);
  animation: transitionOut 0.8s ease forwards;
}

#item2-out {
  transform: translateX(0);
  animation: transitionOut 0.5s ease 0.2s forwards;
}

#item3-out {
  transform: translateX(0);
  animation: transitionOut 0.5s ease 0.4s forwards;
}
// end open menu animation

// close menu animation
#item1-in {
  transform: translateX(-100vw);
  animation: transitionIn 0.5s ease 0.4s forwards;
}

#item2-in {
  transform: translateX(-100vw);
  animation: transitionIn 0.5s ease 0.2s forwards;
}

#item3-in {
  transform: translateX(-100vw);
  animation: transitionIn 0.5s ease forwards;
}
// end close menu animation

// Contact
.contactParagraphContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 80px;
}

.contactParagraphContainer-h1 {
  @include paragraphContainerTemplate(4rem);
}

.contactParagraphContainer-mail {
  @include paragraphContainerTemplate(1.8rem);
}

.contactParagraphContainer-linkedin {
  @include paragraphContainerTemplate(0);
  display: flex;
  column-gap: 5px;

  p {
    font-family: $primary-font;
    font-size: 2.8rem;
    font-weight: 700;
  }

  i {
    font-size: 3.5rem;
  }
}

// About page
.aboutParagraphContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
}

.aboutParagraphContainer-p {
  @include paragraphContainerTemplate(1.8rem);
  text-align: center;
  line-height: 27px;
}

.aboutParagraphContainer-challenge {
  color: $primary-color-one;
  font-weight: 700;
  text-decoration: underline;
}

// Projets page
.allProjectsContainer {
  // background-color: red;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  margin-bottom: 20px
}

.projectCard-discord {
  @include projectCardTemplate(#5865f2);
}

.projectCard-chatApp{
  @include projectCardTemplate(#fff);
  border: 7px solid #005b96;
}

.projectCard-todoList{
  @include projectCardTemplate(#6D28D9)
}

.projectCard-linkedin{
  @include projectCardTemplate(#0072b1)
}

.projectCard-img {
  width: 100px;
}

.projectCard-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  background-color: $primary-color-two;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: 0.3s ease;
}

.projectCard-details-h1 {
  font-size: 2.5rem;
  font-family: $primary-font;
  color: $primary-color-one;
}

.projectCard-details-description {
  font-size: 1.3rem;
  font-family: $primary-font;
  text-align: center;
  color: $primary-color-one;
}

.projectCard-details-stack {
  font-size: 1.3rem;
  font-family: $primary-font;
  text-align: center;
  color: $primary-color-one;

  span {
    font-weight: 700;
  }
}

// animation au chargement de la fenêtre
@keyframes transitionLoad {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

// animation à l'ouverture du menu
@keyframes transitionOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}

// animation à la fermeture du menu
@keyframes transitionIn {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

// animation d'apparition pour la photo
@keyframes imgTransitionLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
